<section>
	<div class="page-header">
		<h1>Key Approval and Building Access Request Form</h1>
	</div>
	<div>
		<form>
			Last Name:  <input type="text" name="lName">
			First Name: <input type="text" name="fName">
			MI:         <input type="text" name="mName">
      <br>

			UF-ID #:    <input type="text" name="ufid">
      <br>

      Department Status:
      <br>
        <input type="radio" name="gender" value="male"> Undergrad&nbsp;
        <input type="radio" name="gender" value="female"> Grad Student&nbsp;
        <input type="radio" name="gender" value="other"> Staff&nbsp;
        <input type="radio" name="gender" value="other"> Faculty&nbsp;
        <input type="radio" name="gender" value="other"> Visiting Prof/Scholar
      <br>

			E-mail address: <input type="text" name="email">
      <br>

			Phone Number:   <input type="text" name="phone">
      <br>
      <br>

			<b>Permission for Access:</b>
      <br>

      This individual has my permission to gain access to the following rooms and should be assigned an entry key to each:
      <br>

			Room #:   <input type="text" name="room1">
			Building: <input type="text" name="building1">
      <br>

      Room #:   <input type="text" name="room2">
      Building: <input type="text" name="building2">
      <br>

      Room #:   <input type="text" name="room3">
      Building: <input type="text" name="building3">
      <br>

      Room #:   <input type="text" name="room4">
      Building: <input type="text" name="building4">
      <br>

      <b><i>Will this student need after-hours building access?</i></b>
        <input type="radio" name="gender" value="male"> Yes&nbsp;
        <input type="radio" name="gender" value="female"> No
      <br>

      Name of Faculty: <input type="text" name="faculty">
      <br>
      <br>

		</form>
	</div>
</section>