<section>
	<div class="page-header">
		<h1>Ph.D. Program Supervisory Committee</h1>
	</div>
	<div>
		<form class="essie-form" ng-submit="submitForm()">
			<div class="form-group">
				Term: <input type="text" class="form-control" ng-model="form.term" placeholder="Spring/Summer/Fall">
			</div>
			Student Name:<br>
			<div>
				<div class="form-group">
					Last: <input type="text" class="form-control" ng-model="form.last_name">
				</div>
				<div class="form-group">
					First: <input type="text" class="form-control" ng-model="form.first_name">
				</div>
				<div class="form-group">
					MI: <input type="text" class="form-control" ng-model="form.m_Initial">
				</div>
			</div>

			UF-ID #: <input type="text" ng-model="form.ufid">
			E-mail address: <input type="text" ng-model="form.email"><br><br>

			Members of Committee: <br><br>

			Chair: <input type="text" ng-model="form.chair.name">
			Department of Member: <input type="text" ng-model="form.chair.dep"><br>

			Co-Chair: <input type="text" ng-model="form.coChair.name">
			Department of Member: <input type="text" ng-model="form.coChair.dep"><br>

			Member: <input type="text" ng-model="form.memb1.name">
			Department of Member: <input type="text" ng-model="form.memb1.dep"><br>

			Member: <input type="text" ng-model="form.memb2.name">
			Department of Member: <input type="text" ng-model="form.memb2.dep"><br>

			Member: <input type="text" ng-model="form.memb3.name">
			Department of Member: <input type="text" ng-model="form.memb3.dep"><br>

			External: <input type="text" ng-model="form.extMemb.name">
			Department of Member: <input type="text" ng-model="form.memb4.dep"><br>
		</form>
	</div>
</section>
