<section>
	<div class="page-header">
		<h1>Ph.D. Program Supervisory Committee</h1>
	</div>
	<div>
		<form>
			Term: <input type="text" name="term"></input><br>
			
			Student Name:<br>
			
			Last: <input type="text" name="lName"></input> 
			First: <input type="text" name="fName"></input> 
			MI: <input type="text" name="mName"></input><br>
			
			UF-ID #: <input type="text" name="ufid"></input>
			E-mail address: <input type="text" name="email"></input><br><br>

			Members of Committee: <br>

			Chair: <input type="text" name="chair"></input>
			Department of Member: <input type="text" name="chair_dep"></input><br>

			Co-Chair: <input type="text" name="coChair"></input>
			Department of Member: <input type="text" name="coChair_dep"></input><br>

			Member: <input type="text" name="memb1"></input>
			Department of Member: <input type="text" name="memb1_dep"></input><br>

			Member: <input type="text" name="memb2"></input>
			Department of Member: <input type="text" name="memb2_dep"></input><br>

			Member: <input type="text" name="memb3"></input>
			Department of Member: <input type="text" name="memb3_dep"></input><br>

			External: <input type="text" name="extMemb"></input>
			Department of Member: <input type="text" name="memb4_dep"></input><br>
		</form>
	</div>
</section>