<section>
	<table style="width:100%">
	  <tr>
	    <th>Name</th>
	    <th>Form Type</th>
	    <th>Date Created</th>
	    <th></th>
	    <th></th>
	  </tr>
	  <tr ng-repeat="form in Forms">
	    <td>{{form.first_Name}} {{form.last_Name}}</td>
	    <td>{{form.formType}}</td>
	    <td>{{form.created}}</td>
	    <td>
	      <a class="btn btn-primary" ui-sref="forms.view-form({formId: form._id})">View</a>
	    </td>
	    <td>
	      <a class="btn btn-danger"  ng-click="deleteForm(form._id)">Delete</a>
	    </td>
	  </tr>
	</table>
</section>
