<section ng-controller="FormController">
  
<div class="row" ng-controller="FormController">
  <div class="col-md-offset-1 col-md-10">
    
    <div ng-show="error" class="text-danger">
      <strong ng-bind="error"></strong>
    </div>
    <div ng-show="success" class="text-success">
      <strong ng-bind="success"></strong>
    </div>
    
    <div class="tableWrapper">
      <table class="table table-striped table-hover">
        <tr>
          <th>Form Code</th>
          <th>Form Name</th>
        </tr>
        <tr ng-repeat="form in forms | filter: query">
          <td>{{form.code}}</td>
          <td>{{form.name}}</td>
          <td><input type = "submit" value = "download"/></td>
          <td><input type = "submit" value = "delete" ng-click = "delete(form)"/></td>
        </tr>
      </table>
    </div>
    <div style= "text-align: center">
    	<a class="btn btn-primary" ui-sref = "create">Create Form</a>
    </div>
    <img id="loader" ng-show="loading" src="/../../img/484.gif">
  </div>
</div>
  
  
</section>
