<section>
  <div class="page-header">
    <h1 ng-bind="vm.gform.title"></h1>
  </div>
  <div class="pull-right" ng-show="vm.isAdmin()">
  <!-- <div class="pull-right" ng-show="vm.authentication.user._id == 'admin'">  -->
    <a class="btn btn-primary" ui-sref="gforms.edit({ gformId: vm.gform._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-danger" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.gform.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.gform.user" ng-bind="vm.gform.user.displayName"></span>
      <span ng-if="!vm.gform.user">Deleted User</span>
    </em>
  </small>
  <form>
    First Name: <input type="text" name="fname">
    Last Name: <input type="text" name="lname">
    UFID: <input type="text" name="ufid">
    Email: <input type="text" name="email">
    Professor 1 
    <select name="Professor1">
      <option value=""></option>
      <option value="Bob">Bob</option>
      <option value="Ross">Ross</option>
      <option value="John">John</option>
      <option value="Cena">Cena</option>  
    </select>
    <br></br>
    Professor 2 
    <select name="Professor2">
      <option value=""></option>
      <option value="Bob">Bob</option>
      <option value="Ross">Ross</option>
      <option value="John">John</option>
      <option value="Cena">Cena</option>  
    </select>
    <br></br>
    Professor 3 
    <select name="Professor3">
      <option value=""></option>
      <option value="Bob">Bob</option>
      <option value="Ross">Ross</option>
      <option value="John">John</option>
      <option value="Cena">Cena</option>  
    </select>
  </form>
  <p class="lead" ng-bind="vm.gform.content"></p>
</section>
