.panel-body h3{
    color: black;
    font-size: 18px;
    font-weight: bold;
    display: inline;
    padding-right: 2mm;
}
/*this will produce a line break between h3 headers and p elements.*/
h3,p{
	margin: 0;
}

